@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}

<div>
    <table class="table">

        <thead>
            <th scope="col">#Id</th>
            <th scope="col">Name</th>
            <th scope="col">Years Experience</th>
            <th scope="col">Local Track</th>
            <th scope="col">Options</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            @{
                foreach(var karter in Model){
                    <tr>
                        <th scope="row">@karter.Id</th>
                        <td>@karter.Name</td>
                        <td>@karter.YearsExperience</td>
                        <td>@(karter.TrackId == null ? "MISSING" : karter.TrackId.toString())</td>
                        <td><a asp-action="Create" asp-route-id="@karter.Id">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@karter.Id">Delete</a></td>
            </tr>
        }
    }
    </tbody>
</table>
</div>