@model GoKartUnite.ViewModel.KarterIndex

<div class="container mb-5">
	<div class="profile-section">
		<div class="profile-header">
			<div class="profile-image"></div>
			<div class="profile-details">
				<div class="profile-name">
									@Model.karter.Name 
					<a asp-action="EditUserDetails" class="btn btn-sm btn-success p-0" style="border: none; background-color: transparent;">
						@if(Model.isUser){
							<i class="bi bi-pencil-fill" style="color: green;"></i>
						}
					</a>
				</div>				
				<div class="profile-info">
					<div><label>Local Track:</label> @(Model.karter.Track == null ? "None" : Model.karter.Track.Title)</div>
					<div><label>Email:</label> @Model.karter.Email</div>
				</div>
			</div>
		</div>
	</div>

	<div class="table-section">
		<div class="table-container" style="overflow-y: auto; max-height: 30ch;">
			<table>
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Friends</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@await Html.PartialAsync("karter", Model.karterFriends)
				</tbody>
			</table>
		</div>
		@if (Model.isUser)
		{
			<div class="table-container" style="overflow-y: auto; max-height: 30ch;">
				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Incoming Requests</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@await Html.PartialAsync("karter", Model.karterFriendRequests)
					</tbody>
				</table>
			</div>

			<div class="table-container" style="overflow-y: auto; max-height: 30ch;">
				<table>
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Outgoing Requests</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@await Html.PartialAsync("karter", Model.sentFriendRequests)
					</tbody>
				</table>
			</div>
		}
	@if (Model.isUser)
		{
			<div class="col-md-6 w-100">
				<select id="GraphTitleSelector"
						class="form-select form-select-sm align-center text-center">
					@foreach (var status in Model.trackTitles)
					{
						<option value="@status" class="text-center">@status</option>
					}
				</select>
			</div>

			<div class="w-100">
				<div style="position: relative;">
					<div class="w-100 text-center d-flex justify-content-center align-items-center" id="GroupStatGraphLoading" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
						<div class="spinner-border" role="status">
							<span class="sr-only"></span>
						</div>
					</div>
					<canvas class="w-100" id="acquisitions"></canvas>
				</div>
			</div>

			<div id="statFormContainer" class="collapse mt-3">
				<div class="card card-body shadow-sm">
					@await Html.PartialAsync("_CreateKarterStatTrack", new GoKartUnite.ViewModel.KarterStatCreatePage
					{
						trackTitle = Model.trackTitles
					})
				</div>
			</div>

			<div class="d-flex justify-content-start mt-3">
				<button id="toggleStatForm" class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#statFormContainer">
					Add
				</button>
			</div>
		}
</div>

@section Scripts
{
	<script src="~/js/KarterStat.js" asp-append-version="true"></script>
	<script src="~/js/CreateStatForm.js" asp-append-version="true"></script>
	<script src="~/js/General/FriendRequestButton.js" asp-append-version="true"></script>
}
