@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Details";
}

@* <div> *@
@*     <table class="table"> *@

@*     <thead> *@
@*         <th scope="col">#Id</th> *@
@*         <th scope="col">Title</th> *@
@*         <th scope="col">Desc.</th> *@
@*         <th scope="col">Location</th> *@
@*         <th scope="col">Options</th> *@
@*         <th scope="col"></th> *@
@*     </thead> *@
@*     <tbody> *@
@*     @{ *@
@*         foreach(var track in Model){ *@
@*             <tr> *@
@*                 <th scope="row">@track.Id</th> *@
@*                 <td>@track.Title</td> *@
@*                 <td>@track.Description</td> *@
@*                 <td>@track.Location</td> *@
@*                 <td><a asp-action="Create" asp-route-id="@track.Id">Edit</a></td> *@
@*                 <td> *@
@*                         <form asp-action="Delete" asp-route-id="@track.Id" method="post" style="display:inline;"> *@
@*                                 @Html.AntiForgeryToken() *@
@*                         <input type="submit" value="Delete" class="btn btn-danger" /> *@
@*                     </form>    *@
@*                 </td> *@
@*             </tr> *@
@*         } *@
@*     } *@
@*     </tbody> *@
@* </table> *@
@* </div> *@

@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using GoKartUnite.ViewModel

@model IEnumerable<TrackView>
<link rel="stylesheet" href="~/css/Blog.css" asp-append-version="true" />

<div class="container">
	<H1>Blog</H1>
	@foreach (var track in Model)
	{
		@await Html.PartialAsync("Track", track);
	}
</div>

@* Add Track To Database API Request *@
<div>
	<h2>Can't find your track? Submit it below for verification</h2>
	<input id="googleSearchInput" type="text" />
	<button id="googleSearchSubmit" type="submit">Search</button>
	<ul id="placesList" class="list-group">
	</ul>
	<div class="w-100 text-center d-flex justify-content-center align-items-center" id="GroupStatGraphLoading" hidden>
		<div class="spinner-border" role="status">
			<span class="sr-only"></span>
		</div>
	</div>
	<div class="alert alert-success" id="Success" role="alert" hidden>
		Success
	</div>
	<div class="alert alert-info" id="TrackNotFound" role="alert" hidden>
		Track Not Found
	</div>
	<div class="alert alert-info" id="ServerErr" role="alert" hidden>
		Failed To Submit Track To Server
	</div>
</div>
<template id="PlacesReturnedResult">
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<div>
			<strong>Title:</strong> <span class="place-title"></span><br>
			<strong>Location:</strong> <span class="place-location"></span>
		</div>
		<button class="btn btn-primary btn-sm">Select</button>
	</li>
</template>
@* ================================== *@

<script src="~/js/Track.js" asp-append-version="true"></script>
<script src="/js//GooglePlacesAPI/TrackSearchAPI.js"></script>
