@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model GoKartUnite.ViewModel.TrackProfile

<div class="content">
    <div class="trackProfile">
        <div class="trackProfileRow">
            <div><h1>@Model.trackView.Title</h1></div>
        </div>
        <div class="trackProfileRow">
            <div>@Model.trackView.location</div>
        </div>
        <div class="trackProfileRow">
            <div>
                @Model.trackView.Description
            </div>
        </div>
        <div class="trackProfileRow ">
            <div>Local Karters : @Model.trackView.karters</div>
            <div>Track Upvotes : @Model.trackView.blogPosts</div>
        </div>
        <div class="trackProfileRow recentPosts">
            <div><h3>Recent Posts</h3></div>
            @if (@Model.isAdminAtTrack)
            {
                    <a asp-action="CreateAdminPost" asp-controller="BlogHome" asp-route-trackTitle=@Model.trackView.Title>Create Admin Post</a>
            }
            </div>
        <div class="trackProfileCol boxShadow border rounded-3">
            @await Html.PartialAsync("~/Views/BlogHome/_Posts.cshtml", Model.posts)

        </div>
                    
    </div>

</div>
@await Html.PartialAsync("~/Views/BlogHome/_Modal.cshtml")

@section Scripts {
    <script src="~/js/Blog/BlogIndex.js" asp-append-version="true"></script>
    @await Html.PartialAsync("~/Views/BlogHome/_Scripts.cshtml")

}