@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GoKartUnite.ViewModel.GroupView
<div class="card-body mb-1 border-bottom" id="group-@Model.Id">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.Description</p>
    <div class="d-flex flex-wrap justify-content-between text-muted mb-2">
        <div><i class="bi bi-person-circle"></i> Leader: @Model.LeaderName</div>
        <div><i class="bi bi-calendar"></i> Created: @Model.DateCreated.ToString("yyyy-MM-dd")</div>
        <div><i class="bi bi-people"></i> Members: <span id="members-count-@Model.Id">@Model.NumberMembers</span></div>
        @if (!Model.isMember ?? false)
        {
                <form asp-action="JoinGroup" asp-controller="Group" method="post" data-group-id="@Model.Id" class="join-form">
                @Html.AntiForgeryToken()
                    <input type="hidden" name="GroupId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-sm">Join</button>
                </form>
        }
        else
        {
                <i class="bi bi-bookmark-star-fill"></i>
        }
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const joinForms = document.querySelectorAll(".join-form");

    joinForms.forEach(form => {
        if (!form.hasAttribute('data-listener-added')) {
            form.addEventListener("submit", function (event) {
                event.preventDefault();  // Prevent the default form submission

                const formData = new FormData(this);
                const groupId = formData.get("GroupId");

                fetch(this.action, {
                    method: 'POST',
                    headers: {
                        'RequestVerificationToken': form.querySelector('input[name="__RequestVerificationToken"]').value
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const groupElement = document.getElementById(`group-${groupId}`);
                        const membersCount = document.getElementById(`members-count-${groupId}`);
                        membersCount.textContent = data.newMemberCount;

                        const newIcon = document.createElement("i");
                        newIcon.className = "bi bi-bookmark-star-fill text-success";  

                        newIcon.style.opacity = 0.5; 

                        form.replaceWith(newIcon);
                    }
                });
            });

            form.setAttribute('data-listener-added', 'true');  
        }
    });
});



</script>