@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GoKartUnite.ViewModel.ListedGroupView

<div class="card-body mb-1 border-bottom" id="group-@Model.Id">
    <h5 class="card-title">

        <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="/group/home?groupid=@Model.Id">
            @Model.Name
        </a>
    </h5>
    <p class="card-text">@Model.Description</p>
    <div class="d-flex flex-wrap justify-content-between text-muted mb-2">
        <div><i class="bi bi-person-circle"></i> Leader: @Model.LeaderName</div>
        <div><i class="bi bi-calendar"></i> Created: @Model.DateCreated.ToString("yyyy-MM-dd")</div>
        <div><i class="bi bi-people"></i> Members: <span id="members-count-@Model.Id">@Model.NumberMembers</span></div>
        
        @if(!Model.isOwner){
            @if (!Model.isMember)
            {
                <form asp-action="JoinGroup" asp-controller="Group" method="post" data-group-id="@Model.Id" class="join-form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="GroupId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-sm">Join</button>
                </form>
            } else {
                <form asp-action="LeaveGroup" asp-controller="Group" method="post" data-group-id="@Model.Id" class="join-form">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="GroupId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-bookmark-star-fill"></i></button>
                </form>
            }
        } else {
            <div>Owner</div>
        }
    </div>
</div>
