@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using GoKartUnite.ViewModel

@model GoKartUnite.ViewModel.KarterView

<tr>
    <td>@Model.Name</td>
    <td>@Model.YearsExperience</td>
    <td>@(Model.LocalTrack == null ? "MISSING" : Model.LocalTrack.Title)</td>
    <td>
        <form asp-controller="KarterHome" asp-action="SendFriendRequestById" asp-route-friendId="@Model.Id" method="post" style="display:inline;">
        @Html.AntiForgeryToken()
            <input type="submit" value="Add Friend" class="btn btn-danger" />
        </form>
    </td>
    @if(User.IsInRole("User")){
                <td><a asp-action="Create" asp-route-id="@Model.Id">Edit</a></td>
        <td>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="post" style="display:inline;">
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </td>
    }

</tr>
